// color palettes
$primary-main: #1c77ff;
$background-dark: #ccc;
$background-light: #fff;

// shadows
$shadow-color-light: rgba(0, 0, 0, 0.15);
$shadow-color-dark: rgba(0, 0, 0, 0.25);

// fonts color
$font-color-primary: #111;
$font-color-secondary: #444;
