@import "./buttons.mixin";
@import "./links.mixin";

@mixin padding {
  padding-left: 1rem;
  padding-right: 1rem;

  @media screen and (min-width: $breakpoint) {
    padding-left: 8vw;
    padding-right: 8vw;
  }
}
