@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin transition($name) {
  transition: $name 0.3s ease-out;
}

@mixin button {
  @include flex-center();
  z-index: 1;
  font-size: $font-size-body2;
  padding: 0.5rem 1rem;
  border-radius: $border-radius;
  background-color: $primary-main;
  color: $background-light;
  border: 2px solid transparent;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-transform: uppercase;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: "";
    z-index: -1;
    background-color: $shadow-color-dark;
    opacity: 0;
    @include transition(opacity);
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }
}

@mixin button-secondary {
  background-color: $background-light;
  border-color: $primary-main;
  color: $primary-main;
}

@mixin page-container {
  @include flex-center();
  max-width: 100vw;
  margin: 80px auto;
  padding: 1rem;
  flex-direction: column;
  padding: 1rem 8vw;

  @media screen and (max-width: $breakpoint) {
    padding: 1rem;
  }
}

@mixin container {
  @include flex-center();
  width: 100%;
  height: max-content;
}
