.navbar {
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 1rem;
  background-color: $background-light;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  @include padding();
  box-shadow: $shadow-400;

  .only-mobile {
    @media screen and (min-width: $breakpoint) {
      display: none;
    }
  }
}
