.product-card {
  min-width: 300px;
  max-width: 400px;
  display: grid;
  grid-template-areas:
    "img"
    "info";
  grid-template-rows: minmax(220px, 250px) auto;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  background-color: $background-light;
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: $shadow-100;

  &-img {
    grid-area: img;
    object-fit: cover;
  }

  &-info {
    grid-area: info;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  &-title {
    font-size: $font-size-h4;
    color: $font-color-primary;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1;
  }

  &-summary {
    font-size: $font-size-body2;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3em;
  }

  &-price {
    color: $font-color-primary;
    font-size: $font-size-h4;
    font-weight: 400;

    .sign {
      margin-right: 0.5rem;
      color: $primary-main;
    }
  }

  &-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;

    .btn-label {
      margin-right: 0.5rem;
    }
  }
}
